// Deixei explícito aqui a connection string a fim de exemplo.
// Normalmente editamos esse arquivo nas esteiras apontando para os ambientes
// de QA/Homologação/Prod
DATABASE_URL=postgres://postgres:postgres@localhost:5432/johndoe
PORT=3000
